body, html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1040px;
    width: 96%;
    margin: 0 auto;
}

.hero{
    height: 100vh;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header__row{
    padding-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu{
    width: 100%;
    margin: 0;
    padding: 0 45px 0 83px;
    list-style: none;
    display: flex;

}

.menu__item + .menu__item{
    margin-left: 21px;
}
.menu__item:last-child{
    margin-left: auto;
}

.menu__item a{
font-weight: 600;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
transition: .3s;
text-decoration: none;

}

.menu__item a:hover{
    color: #23A6F0;
}
.header__button{
    background-color: #23A6F0;
    color: #FFFFFF;
    border: 1px solid #23A6F0;
    padding: 15px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    transition: .3s;
}

.header__button svg{
    margin-left: 15px;
}
.header__button:hover{
    background-color: #FFFFFF;
    border-color: #23A6F0;
    color: #23A6F0;
}

.header{
    position: absolute;
    left: 0;
    width: 100%;
    
}
.hero{
    position: relative;
}
.hero__content{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 90px 0;
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: center;

}
.hero__content h1{
text-align: center;
font-size: 58px;
font-weight: 800;
line-height: 80px;
letter-spacing: 0.2px;
}

.hero__links{
    display: flex;
    justify-content: center;
}

.hero__links a{
padding: 15px 36px;
text-align: center;
/* btn-text */
font-size: 14px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0.2px;
border-radius: 37px;
background-color: #23A6F0;
color: #FFFFFF;
text-decoration: none;
transition: 0.3s;

}
.hero__links a:hover{
    color: #23A6F0;
    background-color: #FFFFFF;
}

.hero__links a:first-child{
    margin-right: 10px;
}
.about{
    position: relative;
    z-index: 10;
    margin-top: -100px;

}
.about__row{
    display: flex;
    margin: -15px;
    flex-wrap: wrap;
}
.about-item{
    padding: 35px 40px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    background: #FFF;

}
.about__item-container{
    width: 33.3%;
    padding: 15px;
    box-sizing: border-box;

}

@media (max-width:1024px) {
    /* .header__button {
        display: none;
    } */
}

@media(max-width: 850px){
    .header__button{
        display: none;
        
    }
    .about__item-container{
        width: 50%;
    }
    /* .about__row{
        flex-wrap: wrap;
    } */
    .about__item-container{
        width: 50%;
    }
}

@media(max-width: 600px){
    .menu{
        flex-direction: column;
    }
    .menu__item + .menu__item{
        margin-left: 0;
    }
    .hero h1{
        font-size: 40px;
        line-height: 57px;
        margin-bottom: 40px;
    }
    .about__item-container{
        width: 50%;
    }
    .about__item-container{
        width: 100%;
    }
}

@media (min-width:1024px) and (max-width:1366){
    
}

