.hello-world{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;

    font-size: 100px;

    width: 500px;
    height: 500px;
    border-radius: 100%;
    background-color: blueviolet;
}

.color-white {
    color: white;
}